<table class="table table-striped">

  <tr class="table-primary">
    <th>Nome</th>
    <th>Telefone</th>
    <th>Ações</th>
  </tr>

  <tr *ngFor="let contato of contatos">
    <td>{{contato.nome}}</td>
    <td>{{contato.telefone}}</td>
    <td>
      <button class="btn btn-primary" (click)="edit(contato)">
        <i class="fas fa-edit"></i>
      </button>
      <button class="btn btn-danger" (click)="delete(contato)">
        <i class="far fa-trash-alt"></i>
      </button>
    </td>
  </tr>
</table>