<h1 class="display-4">Contato</h1>
<form #form="ngForm" autocomplete="off"  (submit)="onSubmit(form)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="contato.id">
  <div class="form-group">
    <input name="nome" #nome="ngModel" [(ngModel)]="contato.nome" class="form-control" placeholder="Nome" required>
    <div *ngIf="nome.invalid && nome.touched" class="validation-error">This field is required.</div>
  </div>
  <div class="form-group">
    <input name="telefone" #telefone="ngModel" [(ngModel)]="contato.telefone" class="form-control"
      placeholder="Telefone">
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">
      Salvar </button>
  </div>

</form>